@import './reset';
@import './variables';
@import './person';


.people {
  display: grid;
  gap: 40px 30px;
  margin-top: 30px;

  grid-template-columns: repeat(2, 200px);
  justify-content: center;

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 200px);
  }

  &__person {
    position: relative;
    transition: transform 1s ease;   

    &:hover {
      z-index: 2;
      border-radius: 12px;
      background-color: #EEEEEE;
      transform: scale(1.2);

      .person__extra {
        color: #2F4F4F;
        opacity: 1;
      }      
    }   
  }
}