@import './reset';
@import './variables';
@import './person';


.people {
  display: grid;
  gap: 40px 30px;
  margin-top: 30px;

  grid-template-columns: repeat(2, 200px);
  justify-content: center;

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 200px);
  }


  &__person {
    position: relative;
   
    transition: opacity 1000ms ease, transform 1000ms ease;

    &:hover {
      z-index: 2;
      border-radius: 12px;
      background-color: #EEEEEE;
      font-size: 24px;
      opacity: 1;
      cursor: pointer;
      animation: scale-card 1s forwards linear;

      .person__extra {
        display: block;
        color: #2F4F4F;
      }
    }
  }

}

@keyframes scale-card { 
  to {
    transform: scale(1.2);
  }
  
}