.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 16px;

  &__avatar {
    border-radius: $border-radius-avatar;
  }

  &__photo {
    position: relative;

  }

  &__rank {
    display: block;
    width: $width-rank;
    height: $height-rank;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: 5%;
    background-color: #fff;
    text-align: center;
    color: $color-hover;
    font-weight: $font-weight-large;
    font-size: 16px;
    line-height: 32px;
  }

 
  &__details {
    text-align: center;

    position: relative;
    bottom: 0;
    color: $main-color;
    text-align: center;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
  }

  &__extra {
    opacity: 0;
  }
}