html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

// Скидання списків
ul,
ol {
  list-style: none;
}

// Скидання зображень
img {
  max-width: 100%;
  display: block;
}

// Скидання форм
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

// Скидання заголовків
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

// Базова типографіка
body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}